/* line 17, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../scss/screen.scss */
body {
  background: #ececec;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #222;
  text-shadow: 0 1px 0 white;
}

/* line 13, ../scss/screen.scss */
p {
  margin: 0 0 18px;
  line-height: 1.5;
}

/* line 17, ../scss/screen.scss */
a {
  color: #307EB6;
}

/* line 18, ../scss/screen.scss */
.wrapper {
  width: 900px;
  margin: 0 auto;
}

/* line 23, ../scss/screen.scss */
header {
  padding: 22px 0 0;
  border-bottom: 4px solid #bbb;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}

/* line 28, ../scss/screen.scss */
#main {
  display: inline-block;
  padding-bottom: 10px;
}
/* line 31, ../scss/screen.scss */
#main ul {
  border: 0 none;
  line-height: 2em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-size: 1.3em;
}
/* line 38, ../scss/screen.scss */
#main ul li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding: 0 10px;
  white-space: nowrap;
  text-shadow: 0 1px 0 white;
}
/* line 47, ../scss/screen.scss */
#main ul li a {
  color: #000;
  text-decoration: none;
}
/* line 50, ../scss/screen.scss */
#main ul li a:hover {
  color: #d40408;
}
/* line 53, ../scss/screen.scss */
#main ul li:first-child, #main ul li.first {
  padding-left: 0;
}
/* line 55, ../scss/screen.scss */
#main ul .curr a {
  color: #d40408;
}
/* line 57, ../scss/screen.scss */
#main ul .logo {
  background: #333;
  padding: 0 10px;
  padding-left: 10px !important;
}
/* line 61, ../scss/screen.scss */
#main ul .logo a {
  color: #eee;
  text-shadow: 0 1px 0 black;
}

/* line 69, ../scss/screen.scss */
.social {
  float: right;
  margin-top: 10px;
}
/* line 72, ../scss/screen.scss */
.social a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 7px;
  background: url(../images/social.png) no-repeat left top;
}
/* line 78, ../scss/screen.scss */
.social a.fb {
  background-position: 0 0;
}
/* line 79, ../scss/screen.scss */
.social a.tw {
  background-position: -26px 0;
}
/* line 80, ../scss/screen.scss */
.social a.gp {
  background-position: -52px 0;
}
/* line 81, ../scss/screen.scss */
.social a.vk {
  background-position: -78px 0;
}
/* line 82, ../scss/screen.scss */
.social a.rss {
  background-position: -104px 0;
}

/* line 86, ../scss/screen.scss */
hgroup.head {
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  margin-top: 30px;
}
/* line 90, ../scss/screen.scss */
hgroup.head h1, hgroup.head h2 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #222;
  padding-bottom: 3px;
  text-shadow: 0 1px 1px white;
}
/* line 98, ../scss/screen.scss */
hgroup.head h2 {
  font-size: 1.4em;
  font-weight: lighter;
  margin: 20px;
}

/* line 107, ../scss/screen.scss */
.aboutblog .avatar img {
  float: left;
  background: #bbb;
  margin-right: 25px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  -webkit-box-shadow: 1px 1px 2px #666666 inset;
  -moz-box-shadow: 1px 1px 2px #666666 inset;
  box-shadow: 1px 1px 2px #666666 inset;
}
/* line 115, ../scss/screen.scss */
.aboutblog .promo {
  float: left;
  width: 128px;
  height: 128px;
  margin-right: 25px;
  background: url(../images/promotion.png) no-repeat left top;
}

/* line 124, ../scss/screen.scss */
section {
  margin: 15px 0px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}
/* line 128, ../scss/screen.scss */
section hgroup {
  text-align: center;
}
/* line 130, ../scss/screen.scss */
section hgroup h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 135, ../scss/screen.scss */
section hgroup h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 145, ../scss/screen.scss */
.projekt article .item {
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 10px 20px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  -ms-border-radius: 140px;
  -o-border-radius: 140px;
  border-radius: 140px;
  -webkit-box-shadow: 1px 1px 2px #333333 inset;
  -moz-box-shadow: 1px 1px 2px #333333 inset;
  box-shadow: 1px 1px 2px #333333 inset;
}
/* line 152, ../scss/screen.scss */
.projekt article .item img {
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  -ms-border-radius: 140px;
  -o-border-radius: 140px;
  border-radius: 140px;
  opacity: 0.5;
}
/* line 155, ../scss/screen.scss */
.projekt article .item img:hover {
  opacity: 1;
}
/* line 157, ../scss/screen.scss */
.projekt article .item:hover {
  -webkit-box-shadow: 0px 0px 1px #333333;
  -moz-box-shadow: 0px 0px 1px #333333;
  box-shadow: 0px 0px 1px #333333;
}
/* line 159, ../scss/screen.scss */
.projekt article:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* line 170, ../scss/screen.scss */
#widjets article {
  margin: 20px 0px;
}
/* line 173, ../scss/screen.scss */
#widjets article ul li {
  width: 240px;
  min-height: 61px;
  float: left;
  padding: 15px 0px 15px 50px;
  margin-right: 10px;
  position: relative;
  background: url(../images/category.png) no-repeat;
}
/* line 184, ../scss/screen.scss */
#widjets article ul li a {
  display: inline-block;
  line-height: 1.5;
  position: relative;
  z-index: 999;
}
/* line 189, ../scss/screen.scss */
#widjets article ul li a:hover {
  color: #d40408;
}
/* line 191, ../scss/screen.scss */
#widjets article ul li time {
  color: #aaa;
  font: 10px monospace;
  display: block;
}
/* line 198, ../scss/screen.scss */
#widjets article ul .without-category {
  background-position: left 19px;
}
/* line 199, ../scss/screen.scss */
#widjets article ul .wordpress {
  background-position: left -71px;
}
/* line 200, ../scss/screen.scss */
#widjets article ul .blogovodstvo {
  background-position: left -161px;
}
/* line 201, ../scss/screen.scss */
#widjets article ul .work {
  background-position: left -251px;
}
/* line 202, ../scss/screen.scss */
#widjets article ul .review {
  background-position: left -251px;
}
/* line 205, ../scss/screen.scss */
#widjets:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
