/* line 17, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: DeliciousRoman;
  src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
  font-weight: 400;
}

/* line 11, ../scss/screen.scss */
body {
  background: #ececec;
  font-family: 'DeliciousRoman', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #222;
  text-shadow: 0 1px 0 white;
}

/* line 19, ../scss/screen.scss */
p {
  margin: 0 0 18px;
  line-height: 1.3;
}

/* line 24, ../scss/screen.scss */
.wrapper {
  width: 900px;
  margin: 0 auto;
}

/* line 29, ../scss/screen.scss */
header {
  padding: 22px 0 0;
  border-bottom: 4px solid #bbb;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  -o-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}

/* line 34, ../scss/screen.scss */
#main-nav {
  display: inline-block;
  padding-bottom: 10px;
}
/* line 38, ../scss/screen.scss */
#main-nav ul {
  border: 0 none;
  line-height: 2em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-size: 1.3em;
}
/* line 45, ../scss/screen.scss */
#main-nav ul li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-shadow: 0 1px 0 white;
}
/* line 55, ../scss/screen.scss */
#main-nav ul li a {
  color: #000;
  text-decoration: none;
}
/* line 60, ../scss/screen.scss */
#main-nav ul li:first-child, #main-nav ul li.first {
  padding-left: 0;
}
/* line 62, ../scss/screen.scss */
#main-nav ul .curr a {
  color: #d40408;
}

/* line 67, ../scss/screen.scss */
.social {
  float: right;
  margin-top: 10px;
}
/* line 70, ../scss/screen.scss */
.social a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 7px;
  background: url(../images/social.png) no-repeat left top;
}
/* line 76, ../scss/screen.scss */
.social a.fb {
  background-position: 0 0;
}
/* line 77, ../scss/screen.scss */
.social a.tw {
  background-position: -26px 0;
}
/* line 78, ../scss/screen.scss */
.social a.gp {
  background-position: -52px 0;
}
/* line 79, ../scss/screen.scss */
.social a.vk {
  background-position: -78px 0;
}
/* line 80, ../scss/screen.scss */
.social a.rss {
  background-position: -104px 0;
}

/* line 83, ../scss/screen.scss */
hgroup.head, .aboutblog, .about, .projekt {
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  -o-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}

/* line 90, ../scss/screen.scss */
hgroup.head h1, hgroup.head h2 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #222;
  padding-bottom: 3px;
  text-shadow: 0 1px 1px white;
}
/* line 98, ../scss/screen.scss */
hgroup.head h2 {
  font-size: 1.4em;
  font-weight: lighter;
  margin-top: 20px;
}

/* line 106, ../scss/screen.scss */
.aboutblog .promo {
  float: left;
  width: 128px;
  height: 128px;
  margin-right: 25px;
  background: url(../images/promotion.png) no-repeat left top;
}

/* line 116, ../scss/screen.scss */
.projekt .portfolio {
  float: left;
  width: 128px;
  height: 128px;
  margin-right: 25px;
  background: url(../images/promotion.png) no-repeat left top;
}

/* line 127, ../scss/screen.scss */
.about .me {
  padding: 10px;
  background: #bbb;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  -o-border-radius: 120px;
  -ms-border-radius: 120px;
  -khtml-border-radius: 120px;
  border-radius: 120px;
  -moz-box-shadow: 1px 1px 2px #333333 inset;
  -webkit-box-shadow: 1px 1px 2px #333333 inset;
  -o-box-shadow: 1px 1px 2px #333333 inset;
  box-shadow: 1px 1px 2px #333333 inset;
}
