@import "compass";
@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 400;
  src: local('Istok Web Italic'), local('IstokWeb-Italic'), url('http://themes.googleusercontent.com/static/fonts/istokweb/v4/8-xqDtEk6sZ61magDpsV8WOb2gHztoQeulij-1lvl-8.woff') format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 700;
  src: local('Istok Web Bold Italic'), local('IstokWeb-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/istokweb/v4/ycQ3g52ELrh3o_HYCNNUw1RROVH9Vvc8xHnAGvvgPQc.woff') format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local('Istok Web Bold'), local('IstokWeb-Bold'), url('http://themes.googleusercontent.com/static/fonts/istokweb/v4/2koEo4AKFSvK4B52O_MwaoraN7vELC11_xip9Rz-hMs.woff') format('woff');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url('http://themes.googleusercontent.com/static/fonts/istokweb/v4/EyYQiCAfMk0ApvfCJfs4nD8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body {
  background: #ececec;
  font-family: 'Istok Web', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #222;
  @include text-shadow(0 1px 0 #fff);
}

p {
  margin: 0 0 18px;
  line-height: 1.3;
}
a {color:#307EB6;}
.wrapper {
  width: 900px;
  margin: 0 auto;
}

header {
  padding: 22px 0 0;
  border-bottom: 4px solid #bbb;
  @include box-shadow(0 1px 0 #fff);
}
#main-nav {
  display: inline-block;
  padding-bottom: 10px;

  ul {
    border: 0 none;
    line-height: 2em;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 1.3em;
    li {
      display: inline;
      float: left;
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
      @include text-shadow(0 1px 0 #fff);
      a {
        color: #000;
        text-decoration: none;
        &:hover {color: #d40408;} 
      }
    }
    li:first-child, li.first {padding-left: 0;}
    .curr {
      a {color: #d40408;}
    }
  }
}

.social {
  float: right;
  margin-top: 10px;
  a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 7px;
    background: url(../images/social.png) no-repeat left top;
    &.fb {background-position: 0 0;}
    &.tw {background-position: -26px 0;}
    &.gp {background-position: -52px 0;}
    &.vk {background-position: -78px 0;}
    &.rss {background-position: -104px 0;}
  }
}
hgroup.head, .aboutblog, .about, .projekt {
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  @include box-shadow(0 1px 0 #fff);
}

hgroup.head {
  h1, h2 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: #222;
    padding-bottom: 3px;
    @include text-shadow(0 1px 1px #fff);
  }
  h2 {
    font-size: 1.4em;
    font-weight: lighter;
    margin-top: 20px;
  }
}

.aboutblog {
  .avatar {
    img {
      float: left;
      background: #bbb;
      margin-right: 25px;
      @include border-radius(70px);
      @include box-shadow(1px 1px 2px #666 inset);
    }
  }
  .promo {
    float: left;
    width: 128px;
    height: 128px;
    margin-right: 25px;
    background: url(../images/promotion.png) no-repeat left top;
  }
}

section {
  hgroup {
    text-align: center;
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

.projekt {
  article {
    .item {
      float: left;
      width: 270px;
      height: 270px;
      margin: 0 15px 20px;
      @include border-radius(140px);
      @include box-shadow(1px 1px 2px #333 inset);
      img {
        @include border-radius(140px);
        opacity: 0.5;
        &:hover {opacity: 1;}
      }
      &:hover {@include box-shadow(0px 0px 1px #333);} 
    }
  &:after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      height: 0;
    }
  }
}

#widjets {
  article {
    float: left;
    width: 270px;
    margin: 20px 15px;
    ul {
      li {
        padding-bottom: 6px;
        margin-bottom: 15px;
        border-bottom: 1px solid #bbb;
        @include box-shadow(0 1px 0 #fff);
        a {
          display: inline-block;          
          &:hover {color: #d40408;}
        }
        time {
          color: #aaa;
          font: 10px monospace;
          display: block;
          margin-left: 13px;
        }
      }
    }
    
  }
  &:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}













