!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
  
    %title htmlblog v.5 Compass(SCSS) & HAML
    
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => "fenris"}
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0"}
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  
    %link{:type => "text/css",
          :href  => "css/screen.css",
          :media => "screen, projection",
          :rel => "stylesheet"}
  
    %link{:type => "text/css",
          :href  => "css/print.css",
          :media => "screen, projection",
          :rel => "stylesheet"}
  
    %link{:type => "text/css",
          :href  => "http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,700&subset=latin,cyrillic",
          :media => "screen, projection",
          :rel => "stylesheet"}
  
  %body.main
    .wrapper
      %header
        %nav#main
          %ul
            %li.logo
              %a{:href=>"index.html"} &lt;html /&gt; blog
            %li
              %a.curr{:href=>"simple-page.html"} Об авторе
            %li
              %a{:href=>"#"} Проекты
            %li
              %a{:href=>"#"} Статьи
            %li
              %a{:href=>"#"} Портфолио
            %li
              %a{:href=>"#"} Контакты

        %aside.social
          %a.fb{:href=>"#"}
          %a.tw{:href=>"#"}
          %a.gp{:href=>"#"}
          %a.vk{:href=>"#"}
          %a.rss{:href=>"#"}
  
      %section.aboutblog
        %article
          .avatar
            %img{:src => "images/avatar.png", :alt => ""}
          %p Всем привет. Меня зовут Владимир Глушков и я занимаюсь созданием сайтов на Wordpress, Drupal и еще одной, название для которой мы еще не придумали.
          %p Я достаточно долго писал о Вордпрессе и иже с ним, но надо развиваться, изучать что-то новое, по-этому статьи про Вордпрес я писать, можно сказать, прекращаю. Это не значит что их не будет совсем, но станет намного меньше.
          %p Мне 27 лет и последние лет 8 я занимаюсь разными аспектами создания сайтов.%br Основная моя специализация это дизайн и верстка, чему красноречиво свидетельствует <a href="http://www.htmlblog.ru/css-design-xhtml-code">портфолио</a>, в котором уже более 40 работ.
          %p Я рисую и верстаю сайты любой сложности. Хорошо ли у меня получается судить можно только по достаточно большому количеству постоянных клиентов, среди которых и крупные дизайн студии и гос. структуры.
          %p К сожалению не все сайты, в разработке которых мне доводилось принимать участие доступны в сети до сих пор. Но практически все (за исключением 1-2) бережно хранятся мною в архиве как память о том как надо или как не надо было делать.
          %p На страницах этого блога я делюсь с читателями своим опытом, наработками и некоторыми секретами правильной правильной и красивой верстки.
          %p Для тех кто только начинает осваивать тонкости этой профессии будет крайне полезен раздел <a href="http://www.htmlblog.ru/html-css-tutorial">шпаргалок</a> по <abbr title="Hypertext Markup Language">HTML</abbr>/<abbr title="Cascading Style Sheets">CSS</abbr>
          %p Связаться со мной можно через <a href="http://www.htmlblog.ru/contacts">форму</a> обратной связи или просто написав на почту <a href="mailto:xhtmlblog@gmail.com">xhtmlblog@gmail.com</a>
          %p Всем привет. Меня зовут Владимир Глушков и я занимаюсь созданием сайтов на Wordpress, Drupal и еще одной, название для которой мы еще не придумали.
          %p Я достаточно долго писал о Вордпрессе и иже с ним, но надо развиваться, изучать что-то новое, по-этому статьи про Вордпрес я писать, можно сказать, прекращаю. Это не значит что их не будет совсем, но станет намного меньше.
          %p Мне 27 лет и последние лет 8 я занимаюсь разными аспектами создания сайтов.%br Основная моя специализация это дизайн и верстка, чему красноречиво свидетельствует <a href="http://www.htmlblog.ru/css-design-xhtml-code">портфолио</a>, в котором уже более 40 работ.
          %p Я рисую и верстаю сайты любой сложности. Хорошо ли у меня получается судить можно только по достаточно большому количеству постоянных клиентов, среди которых и крупные дизайн студии и гос. структуры.
          %p К сожалению не все сайты, в разработке которых мне доводилось принимать участие доступны в сети до сих пор. Но практически все (за исключением 1-2) бережно хранятся мною в архиве как память о том как надо или как не надо было делать.
          %p На страницах этого блога я делюсь с читателями своим опытом, наработками и некоторыми секретами правильной правильной и красивой верстки.
          %p Для тех кто только начинает осваивать тонкости этой профессии будет крайне полезен раздел <a href="http://www.htmlblog.ru/html-css-tutorial">шпаргалок</a> по <abbr title="Hypertext Markup Language">HTML</abbr>/<abbr title="Cascading Style Sheets">CSS</abbr>
          %p Связаться со мной можно через <a href="http://www.htmlblog.ru/contacts">форму</a> обратной связи или просто написав на почту <a href="mailto:xhtmlblog@gmail.com">xhtmlblog@gmail.com</a>

        %aside
  
      %footer
        %span &copy; 2008&ndash;2012 Владимир Глушков
